:root {
    --GREEN: #1bb196;
}

body,
h1 {
    margin: 0;
}

body {
    background-color: #beebe9;
}

#title {
    text-align: center;
    font-family: 'Dokdo', cursive;
    font-size: 50px;
}

#line {
    position: absolute;
    top: 25%;
    width: 5px;
    height: 211%;
    margin-left: 50.5%;
    background-color: var(--GREEN);
    border-radius: 15px;
    z-index: -1;
}

img {
    position: relative;
    width: 100px;
    border-radius: 100%;
    border: 2px solid black;
    float: left;
    top: -65px;
    left: -30px;
    grid-column: 1;
    margin-left: 5%;
    z-index: 1;
}

.content {
    margin-left: 10%;
    margin-top: 10%;
}

.card {
    display: grid;
    grid-template-columns: 60px auto 30px;
    background-color: #edf8f7;
    width: 40%;
    position: relative;
    word-break: keep-all;
    line-height: 1.5;
    border-radius: 5%;
    box-shadow: 0px 0px 6px 2px #64a29e inset;
    border: 4px solid var(--GREEN);
    transition: .2s;
}

.card:hover {
    background-color: var(--GREEN);
    box-shadow: none;
    color: white;
}

.card:nth-child(even) {
    margin-left: 50%;
}

.card:nth-child(even) .dot {
    left: -15%
}

.date {
    display: inline-block;
    position: relative;
    top: -20px;
    grid-column: 2;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 30px;
    height: 35px;
    width: 200px;
    padding-left: 20px; 
    background-color:#beebe9;
    box-shadow: var(--GREEN) 5px 5px;
    color: black;
}

.what {
    position: relative;
    top: -80px;
    grid-column: 2;
    font-family: 'Dokdo', cursive;
    font-size: 60px;
}

.where {
    position: relative;
    top: -80px;
    grid-column: 2;
    font-family: 'Poor Story', cursive;
    font-size: 25px;
    color: grey;
}

.text {
    position: relative;
    top: -60px;
    grid-column: 2;
    font-family: 'Poor Story', cursive;
    font-size: 20px;
}

.dot {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: var(--GREEN);
    position: absolute;
    top: 45%;
    right: -15%;
}

#button__top {
    text-align: center;
    background-color: #ffe3ed;
    box-shadow: 0px -2px 6px 2px #d3b5c0 inset;
    width: 80px;
    height: 50px;
    font-size: 20px;
    border-top-right-radius: 15px;
    position: fixed;
    bottom: 0;
}

.button__change__bg {
    font-size: 20px;
    border-radius: 10%;
    background-color: #edf8f7;
    padding: 5px;
    transition: .4s;
}

.button__change__bg:hover {
    background-color: var(--GREEN);
    color: white;
}

.button__change__bg:active {
    background-color: orange;
    color: white;
}

@media(max-width:1200px) {
    .card {
        width: 90%;
        margin-bottom: 60px;
    }
    .card:nth-child(even) {
        margin-left: initial;
    }
    #line {
        display:none;
    }
    .dot {
        display: none;
    }
}